_ngo/
_xmsgs/
*.pyc
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_bitgen.xwbt
*_envsettings.html
*_guide.ncd
*_map.map
*_map.mrp
*_map.ncd
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.html
*_summary.xml
*_usage.xml
*_xst.xrpt
iseconfig/
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
